<!DOCTYPE html>
<!--html boilerplate-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BRUH - Bad RPN Utility without Heaps</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="./style.css">
</head>

<body>
<!--vue instance-->
<div class="wrapper" id="app">
  <div class="content">
    <h1>BRUH Calculator</h1>
		<!--conditional rendering for answer block-->
    <p class="result" v-if="answer != null && answer != ''">= {{answer}}</p>
		
    <input id="input" type="text" v-model="formula" v-on:keydown.enter="compute" v-bind:class="{'valid': valid, 'invalid': !valid}"/>
		
    <div>
      <button class="raise" v-on:click="compute">Calculate!</button>
			<button @click="cls">Clear</button>

    </div>
    <div class="about">
			<!-- decided not to put it in <p>
				<div class="code">
					Control + Shift + I
				</div>
				then
				<div class="code">
					Console
				</div>
				to view logs and a step by step breakdown of the calculation.
			</p>-->
			
			<!--ux help-->
			<p>
				<div class="code">+</div> add &nbsp;&nbsp;
				<div class="code">-</div> subtract &nbsp;&nbsp;
				<div class="code">*</div> or <div class="code">x</div> multiply &nbsp;&nbsp;
				<div class="code">/</div> divide &nbsp;&nbsp;
				<div class="code">^</div> exponent &nbsp;&nbsp;
				<div class="code">%</div> modulo &nbsp;&nbsp;
			</p>
			
			<br>
			
			<!--links-->
			<p>Reverse Polish Notation on
				<a href="https://en.wikipedia.org/wiki/Reverse_Polish_notation" target="_blank">Wikipedia</a>.
			</p>

			<p>Made with love by
				<a href="https://github.com/woflydev" target="_blank">woflydev</a>
				with
				<a href="https://vuejs.org/" target="_blank">VueJS</a>.
			</p>
    </div>
  </div>
</div>

<div class="footer">
	<p><a href="https://bruh-calculator.web.app" target="_blank" title="Hosted on Firebase">BRUH</a> - a Bad RPN Utility without Heaps.</p>
</div>

	<!-- what can i say, vue is good -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.20/vue.min.js'></script>
	<script src="./script.js"></script>

</body>
</html>
