<!DOCTYPE html>
<!--html boilerplate-->
<!--check script.js for sources-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BRUH - Bad RPN Utility without Heaps</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="./style.css">
</head>

<body>
<!--vue instance id-->
<div class="wrapper" id="app">
  <div class="content">
    <h1>BRUH Calculator</h1>
		<!--conditional rendering for answer block-->
    <p class="result" v-if="answer != null">{{answer}}</p>
		
    <input 
			id="input" 
			type="text" 
			v-model="formula" 
			@keydown.ctrl.delete="cls" 
			@keydown.enter="evaluate" 
			v-bind:class="{'valid': valid, 'invalid': !valid}"
		/>
		
    <div>
      <button class="btn" @click="evaluate">Calculate!</button>
			<button class="btn" @click="cls">Clear</button>
    </div>

    <div class="about">
			<!--ux help-->
			<p>
				<div class="code">+</div> add &nbsp;&nbsp;
				<div class="code">-</div> subtract &nbsp;&nbsp;
				<div class="code">*</div> or <div class="code">x</div> multiply &nbsp;&nbsp;
				<div class="code">/</div> divide &nbsp;&nbsp;
				<div class="code">^</div> exponent &nbsp;&nbsp;
				<div class="code">%</div> modulo &nbsp;&nbsp;
				
				<br>
				
				If you're unsure of how to get started, try running 
				<button class="code clickable" @click="set">3 2 +</button> .
			</p>
			
			<br>
			
			<!--links-->
			<p>Reverse Polish Notation on
				<a href="https://en.wikipedia.org/wiki/Reverse_Polish_notation" target="_blank">Wikipedia</a>.
			</p>

			<p>
				Made with love by
				<a href="https://github.com/woflydev" target="_blank">woflydev</a>
				thanks to
				<a href="https://vuejs.org/" target="_blank">VueJS</a>.
			</p>
    </div>
  </div>
</div>

<div class="footer">
	<p>
		<a href="https://bruh-calculator.web.app" target="_blank" title="Hosted on Firebase">BRUH</a> - a Bad RPN Utility without Heaps.
	</p>
</div>

	<!-- what can i say, vue is good -->
	<!-- funnily enough this script accounted for almost 47% of the site's loading time-->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.20/vue.min.js'></script>
	<script src="./script.js"></script>

</body>
</html>

<!--this used to be just above the 'links section'-->
<!--but decided not to put it in as error logs state the msg already <p>
	<div class="code">
		Control + Shift + I
	</div>
	then
	<div class="code">
		Console
	</div>
	to view logs and a step by step breakdown of the calculation.
</p>-->